page-rankingpremium-etapas-torneio-pokerclubs {
    
    .scroll-content {
        background-color: black;
    }

    .ranking-list-divider {
        background-color: black;
        color: white;
    }

    .ranking-list-itens {
        background-color: black;
    }

    .nome-ranking-torneios {
        color: #999;
    }
    
}
