page-visualiza-notificacao-pokerclubs {

    .scroll-content {
        background-color: black;
    }

    .card {
        background-color: #222;
        color: #999;
    }

    .titulo-mensagem {
        color: #999;
    }

    .nome-clube-mensagem {
        color: #999;
    }

    .data-mensagem {
        color: #999;
    }

    .texto-mensagem {
        color: #999;
    }

    .clube-mensagem {
        color: #999;
    }

    .botao-excluir {
        background-color: #daae21;
        color: black;
        font-size: 10px;
    }

    .item-botao-excluir {
        background-color: #222;
    }
}
