page-fotospremium-pokerclubs {
    
    .scroll-content {
        background-color: black;
    }

    .card {
        background-color: #222;
        color: #999;
    }

   .descricao-foto {
        color: #999;
    }
    
    .titulo-foto {
        color: #999;
    }


}
