page-promocoespremium-pokerclubs {
    
    ion-content {
        background-image: url("../assets/imgs/backgroundImagePokerClubs.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    ion-grid {
        height: 100%;
    }

    .row-promocoes-cabecalho-titulo {
        height: 10%;
        text-align: center;
    }

    .row-promocoes-cabecalho-sub-titulo {
        height: 10%;
        text-align: center;
    }

    .row-promocoes-cartas-01 {
        height: 25%;
    }

    .row-promocoes-cartas-02 {
        height: 25%;
    }

    .row-promocoes-descricao-premio-parabens {
        height: 10%;
        text-align: center;
    }

    .row-promocoes-descricao-premio-voce-ganhou {
        height: 15%;
        text-align: center;
    }

    .row-promocoes-rodape {
        height: 5%;
    }

    .promocoes-descricao-carta-da-sorte {
        color: #daae21;
    }


    .promocoes-descricao-parabens {
        color: white;
    }

    .promocoes-descricao-premio {
        color: white;
    }

    .promocoes-descricao-torneio {
        color: white;
    }

    .promocoes-descricao-carta {
        color: #daae21;
    }

    .promocoes-descricao-indicativo {
        color: white;
    }

}
