@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?r2im3b');
  src:  url('../assets/fonts/icomoon.eot?r2im3b#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?r2im3b') format('truetype'),
    url('../assets/fonts/icomoon.woff?r2im3b') format('woff'),
    url('../assets/fonts/icomoon.svg?r2im3b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
  content: "\e900";
}
.icon-password:before {
  content: "\e901";
}
