page-rankingpremium-jogadores-ranking-pokerclubs {

    .scroll-content {
        background-color: black;
    }

    .card {
        background-color: #222;
        color: #999;
    }

   .nome-torneio {
        color: #999;
    }

    .nome-etapa {
        color: #999;
    }

    .posicao-jogador {
        color: #999;
    }

    .pontos-jogador {
        color: #999;
    }
    
    .nome-jogador {
        color: #999;
    }

    .item-nome-jogador {
        background-color: #222;       
    }

    .tabela-classificacao-ranking {
        width: 100%
    }

}
