page-galeria-fotospremium-pokerclubs {

    .scroll-content {
        background-color: black;
    }

    .galeria-fotos-list-divider {
        background-color: black;
        color: white;
    }

    .galeria-fotos-list-itens {
        background-color: black;
    }

    .card {
        background-color: #222;
        color: #999;
    }

    .titulo-galeria {
        color:  #999;
    }

    .data-galeria {
        color:  #999;
    }

    .descricao-galeria {
        color:  #999;
    }
}
